/* App.css */
.App {
  font-family: Arial, sans-serif;
}

.slider-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.overlay-content {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
